<div *ngIf="bookService.selectedBook">
 <h5>{{title}}</h5>
<form>
    
<div>
    <input type="text" placeholder="ISBN" [(ngModel)]="bookService.selectedBook.author" name="ISBN"><br><br>
    <input type="text" placeholder="Titolo" [(ngModel)]="bookService.selectedBook.title" name="title"><br><br>
    <input type="text" placeholder="Autore" [(ngModel)]="bookService.selectedBook.author" name="author"><br><br>
    <input type="text" placeholder="Pubblicazione" [(ngModel)]="bookService.selectedBook.publisher" name="publisher"><br><br>
    <input type="submit" value="Modifica libro" (click)="save()">
</div>
</form>   
</div>


