
<hr>

<div *ngIf="service.booktoShow">
<h2>{{ title }}</h2>

    <div class="row">
        <div class="col" style="margin-left: 10px;">
        ISBN:<input type="text" class="form-control" placeholder="ISBN" [(ngModel)]="service.booktoShow.ISBN"> 
        <div class="error">{{errorISBN}}</div>
        </div>

        <div class="col" style="margin-left: 10px;">
        Titolo:<input type="text" class="form-control" placeholder="Titolo" [(ngModel)]="service.booktoShow.title"> 
        <div class="error">{{errorTitle}}</div>
        </div>

        <div class="col" style="margin-left: 10px;">
        Autore:<input type="text" class="form-control" placeholder="Autore" [(ngModel)]="service.booktoShow.author"> 
        <div class="error">{{errorAuthor}}</div>
        </div>

        <div class="col" style="margin-left: 10px;">
        Editore:<input type="text" class="form-control" placeholder="Editore" [(ngModel)]="service.booktoShow.publisher">
        <div class="error">{{errorPublisher}}</div>
        </div>
        
        <div class="col" style="margin-left: 10px;">
        Data pubblicazione:<input type="date" class="form-control" placeholder="Data" [(ngModel)]="service.booktoShow.publicationDate">
        <div class="error">{{errorPublicationDate}}</div>
        </div>
    </div>
    

<br>
    <button class="myButton" (click)="save()">Modifica libro</button>
    </div>